<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="web/fragments/common :: header"></th:block>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="web/fragments/common :: left-navbar-links"></ul>

        <!-- SEARCH FORM -->
        <form action="/" class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <!-- select -->
                <select id="themeId" name="theme" class="form-control">
                    <option>选择模板</option>
                    <option th:each="theme : ${themeList}"
                            th:value="${theme.theme}"
                            th:text="${theme.themeName}"
                            th:selected="${themeHis == theme.theme}">
                    </option>
                </select>
                &nbsp;&nbsp;
                <input name="tableName" th:value="${tableName}" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="web/fragments/common :: main-sidebar-container"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">数据库的表</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>表名</th>
                                        <th>表注释</th>
                                        <th>Engine</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="table : ${tableList}">
                                        <td><a href="#" th:onclick="detail([[${table.tableName}]])">[[${table.tableName}]]</a></td>
                                        <td th:text="${table.tableComment}">-</td>
                                        <td th:text="${table.engine}">-</td>
                                        <td th:text="${table.createTime}">-</td>
                                        <td>
                                            <button type="button" class="btn btn-block btn-outline-primary"
                                                    th:onclick="createPO([[${table.tableName}]])">生成
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <th:block th:replace="web/fragments/common :: bottom"></th:block>
</div>
<!-- ./wrapper -->

<th:block th:replace="web/fragments/common :: script"></th:block>

<script>
    <!-- page script -->
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

    function createPO(tableName) {
        this.href='/createAll?tableName=' + tableName;
        window.open(this.href, '_blank')
    }

    function detail(tableName) {
        var theme = $("#themeId").val();
        this.href='/detail?tableName=' + tableName + "&theme=" + theme;
        window.open(this.href, '_blank')
    }
</script>
</body>
</html>
