<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="web/fragments/common :: header"></th:block>
    <link href="../../prism/prism.css" rel="stylesheet" />

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="web/fragments/common :: left-navbar-links"></ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="web/fragments/common :: main-sidebar-container"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            [[${theme.name}]]
                            <button type="button" class="btn btn-outline-primary"
                                    th:onclick="create([[${module}]])">生成
                            </button>
                            [[${tableName}]]
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">[[${file}]]</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <pre><code class="language-java">[[${writer}]]</code></pre>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <th:block th:replace="web/fragments/dialog :: dialog"></th:block>
    </div>
    <th:block th:replace="web/fragments/common :: bottom"></th:block>
</div>
<!-- ./wrapper -->

<th:block th:replace="web/fragments/common :: script"></th:block>
<script src="../../prism/prism.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>

<!-- page script -->
<script>
    function create(type) {
        $('#staticBackdrop').modal();
        var url = '/create?tableName=[[${tableName}]]&theme=[[${theme.code}]]' + "&type=" + type;
        $.get( url, function( data ) {
            setTimeout(function() {
                $('#staticBackdrop').modal('hide');

                if (data == 'ok') {
                    $('#modal-success').modal();
                } else {
                    $('#modal-danger').modal();
                }
            } , 500);
        });
    }
</script>
</body>
</html>
