<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="web/fragments/common :: header"></th:block>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="web/fragments/common :: left-navbar-links"></ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="web/fragments/common :: main-sidebar-container"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>[[${theme.themeName}]] 💨 [[${tableName}]]</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">[[${tableName}]]</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>生成模块</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="type : ${typeList}">
                                        <td th:text="${type}">-</td>
                                        <td class="project-actions text-right">
                                            <button type="button" class="btn btn-outline-primary"
                                                    th:onclick="create([[${type}]])">生成
                                            </button>
                                            <button type="button" class="btn btn-outline-info"
                                                    th:onclick="preview([[${type}]])">预览
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <th:block th:replace="web/fragments/common :: bottom"></th:block>
</div>
<!-- ./wrapper -->

<th:block th:replace="web/fragments/common :: script"></th:block>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>

<!-- page script -->
<script>
    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });

    function create(type) {
        var url = '/create?tableName=[[${tableName}]]&theme=[[${theme.theme}]]' + "&type=" + type;
        $.get( url, function( data ) {
            Toast.fire({
                icon: 'success',
                title: data == 'ok' ? '创建成功' : '创建失败'
            });
        });
    }

    function preview(type) {
        this.href='/preview?tableName=[[${tableName}]]&theme=[[${theme.theme}]]' + "&type=" + type;
        window.open(this.href, '_blank')
    }
</script>
</body>
</html>
